[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"

[dev-packages]
ipython = "*"
pep8 = "*"
autopep8 = "*"
python-dotenv = "*"
bpython = "*"

[requires]
python_version = "3.9"
